/** {*/
/*    border: 1px solid red;*/

/*}*/

body {
    margin: 0;
    background-color: papayawhip;
}

#logo_img {
    height: 50px;
    display: block;
}

#header {
    background: #4dcc43;
    overflow: auto;
    padding: 5px 20px;
    border-bottom: 6px solid #3fad37;
    margin: 0 0 0 0;
    /*height: 50px;*/

}

#logo {
    float: left;
    margin-right: 20px;
}

#name {
    margin: 5px;
    float: left;
}


ul.menu {
    list-style: none;
    overflow: hidden;
    /*float: left;*/
}

ul.menu li {
    float: left;
    margin-left: 15px;
}

ul.menu li.last {
    float: right;
}

#time {
    background-color: darkolivegreen;
    width: 100%;
    /*float: left;*/
    overflow: auto;


}

#time ul.dates_list {
    list-style: none;
    float: left;
    white-space: nowrap;
    padding: 0;
    margin: 0;

}


#time ul.dates_list li {
    display: inline;
    margin-left: 15px;


}

.categories {

    display: inline-block;
}

.categories h2 {

    margin: 10px;
}


ul.categories {
    padding-left: 20px;
    list-style: none;
}

.categories li {
    margin-bottom: 15px;
    border-bottom: 2px;
    /*padding-right: 5px;*/
    background-color: #3fad37;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
    box-sizing: content-box;
    height: 30px;


}

ul.task_item {
    list-style: none;
    display: inline-block;
    width: 40%;
    position: absolute;

}

ul.task_item li {
    background-color: aqua;
    margin-bottom: 50px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    min-height: 40px;
}

ul.task_item li p {
    font-size: 0.75rem;
    color: gray;
}

ul.task_item li span {
    display: inline-block;
    float: right;
    color: red;
    font-size: 0.75rem;
}

.detail {
    padding-left: 20px;
    background-color: cyan;
    width: 400px;

    margin: 10px auto;
    border-radius: 50px;
    height: auto;
    padding: 40px;

    box-sizing: border-box;
    /*white-space: pre-line;*/


}

.detail h2 {
    text-align: center;
}

div.detail p:nth-child(2) {
    line-height: 1.5em;

}

#create_task {
    display: block;
    float: right;
}

.error_field {
    color: green;
    background-color: yellow;
}

.form-label {
    display: inline-block;
    min-width: 250px;
    vertical-align: top;
}


div span:last-child {
    color: red;
    display: none;
}

span {
    cursor: pointer;
}

.count-field {
    width: 50px;
}
/*div.statistic last-child {*/
/*    display: block;*/

/*}*/

form input[type=submit] {
    display: block;

}

.wrapper {
    display: inline;
}

.fields {
    display: inline-block;
    /*float: left;*/
}

div.player-form {
    display: none;
    /*background-color: red;*/
}


/*.minus-button, .plus-button {*/
/*    width: 20px;*/
/*    height: 20px;*/
/*    background: #f2f2f2;*/
/*    border-radius: 4px;*/
/*    padding: 8px 5px 8px 5px;*/
/*    border: 1px solid #ddd;*/
/*    display: inline-block;*/
/*    vertical-align: text-top;*/
/*    text-align: center;*/

/*}*/