{% extends 'base.html' %}
{% load static %}



{% block content %}
<script src="{% static 'js/create-parts-type.js' %}"></script>
<input type="button" onclick="createPart(this)" name="add-part" value="Добавить раздел">
{% if not formset.forms %}
<h1>Разделы еще не были созданы. Нажмите на кнопку выше, чтобы создать.</h1>
{% endif %}

<form method="post">
    {% csrf_token %}
{{ formset.management_form }}
{{ formset.non_form_errors }}
<div id="part">
    <div id="empty-form" class="parts">
        {{ formset.empty_form}}
        <div class="actions">
            {{ formset.empty_form.nested}}
        </div>
    </div>

{% for child_form in formset.forms %}
    <div class="parts">
    {{ child_form }}
    {% if child_form.nested %}
        <div id="actions">
            {{ child_form.nested.management_form }}
        {{ child_form.nested.non_form_errors }}
        {% for nested_form in child_form.nested.forms %}
            <div class="action">
            {{ nested_form }}
            </div>
        {% endfor %}
        </div>
    {% endif %}
    </div>
{% endfor %}
</div>
    <input type="submit" value="Save">
</form>

{% endblock %}


