{% extends 'base.html' %}
{% load static %}


{% block content %}
<script src="{% static 'js/index.js' %}" defer></script>
 <h1>Игроки:</h1>
        <hr>
        <form method="post" action="{% url 'statistic:home' %}" autocomplete="off">
            {% csrf_token %}
            <div class="player">
                <input  type="text" class="players" name="0">
                <span onclick="addPlayer(this)">+</span>
                <span onclick="removePlayer(this)">-</span>
                <!-- <input onclick="addPlayer(this)" type="button" value="+">
                <input type="button" value="-"> -->

            </div>
        <input type="submit" value="Send">
<!--        <input type="button" onclick="playersFunc(this)" value="Send1">-->
<!--        <input onclick="sendFunction(this)" type="submit" value="Send">-->
        </form>

<!--<script>-->


<!--    function playersFunc(event) {-->
<!--        event.preventDefault()-->
<!--    let data = [];-->

<!--    let players = document.querySelectorAll('input.players')-->


<!--    for (let key of players) {-->
<!--        if (key.value) {-->
<!--            data.push(key.value)-->
<!--            }-->
<!--        }-->

<!--    // const url = ;-->
<!--        const url = window.location.origin + '{% url "statistic:home" %}'-->

<!--    let csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;-->
<!--    let formData = new FormData();-->

<!--    for (let i = 0; i < data.length; i++){-->
<!--        formData.append(i.toString(), data[i])}-->

<!--    let options = {-->
<!--        method: 'POST',-->
<!--        headers: {'X-CSRFToken': csrftoken},-->
<!--        mode: 'same-origin',-->
<!--    }-->
<!--    options['body'] = formData;-->
<!--    fetch(url, options).then(response => response.json())-->


<!--    }-->

<!--    let bb = document.querySelector('[value="Send"]')-->
<!--    bb.addEventListener('click', playersFunc)-->




<!--</script>-->

{% endblock %}