{% extends 'base.html' %}
{% load static %}



{% block content %}
<script src="{% static 'js/index.js' %}"></script>
<script src="{% static 'js/plus-minus.js' %}"></script>

<h1>Подсчет статистики:</h1>
<span onclick="halfSelect(this)" data-half="1">1 Тайм</span>
<span onclick="halfSelect(this)" data-half="2">2 Тайм</span>
<div class="checkbox-wrapper-8">
  <input onclick="checkboxOn(this)" class="tgl tgl-skewed" id="cb3-8" type="checkbox"/>
  <label class="tgl-btn" data-tg-off="OFF" data-tg-on="ON" for="cb3-8"></label>
</div>

<form action="{% url 'statistic:result' %}" method="post">
    {% csrf_token %}


    <div data-half="1" class="half selected">

<table>

    <tr>
        <th class="head">
            Имя игрока
        </th>
        {% for act in actions %}
           <th class="head">
               {{ act }}
           </th>
        {% endfor %}
    </tr>

    <tr class="field-row" style="display:none;">
        <td class="field">
        <input type="text" name="name-1">
        </td>
        {% for act in actions %}
            <td class="field"><input data-half="1" class="success"  name="{{ act.slug }}-uspeshno-1" type="number" value="0">
                <input class="fail" name="{{ act.slug }}-oshibka-1" type="number" value="0">
            </td>
        {% endfor %}
        <td><span class="add-player" onclick="addPlayer(this)">+</span>

        <span class="remove-player" onclick="removePlayer(this)">-</span>
        </td>
    </tr>


</table>
    </div>

    <div data-half="2" class="half">
<table>

    <tr>
        <th class="head">
            Имя игрока
        </th>
        {% for act in actions %}
           <th class="head">
               {{ act }}
           </th>
        {% endfor %}
    </tr>

    <tr class="field-row" style="display:none;">
        <td class="field">
        <input type="text" name="name-1">
        </td>
        {% for act in actions %}
            <td class="field"><input data-half="1" class="success"  name="{{ act.slug }}-uspeshno-1" type="number" value="0">
                <input class="fail" name="{{ act.slug }}-oshibka-1" type="number" value="0">
            </td>
        {% endfor %}
        <td><span class="add-player" onclick="addPlayer(this)">+</span>

        <span class="remove-player" onclick="removePlayer(this)">-</span>
        </td>
    </tr>


</table>
</div>



<input type="hidden" name="statistic_type" value="{{ statistic_type }}">

<input type="submit" value="Подтвердить">
<input type="button" id="ajax-send" value="Подтвердить ajax">
</form>




<script>
    // const t = document.querySelector('input[type="checkbox"]')
    //
    // console.log(t.checked)
    const form = document.forms[0]
    function submit(e) {
        e.preventDefault();
        // console.log(forms)
        // for (let form of forms) {
        const myDiv = form.querySelectorAll('.field-row')[0]


            // myDiv.removeAttribute('name')
            const fields = myDiv.querySelectorAll('input')
            for (let field of fields) {
                field.removeAttribute('name')
            }

            form.submit()

    }
    let button = document.querySelector('[type="submit"]')
    console.log(button)
    button.addEventListener('click', submit)
</script>


<script>
    window.onload = function() {
        let tables = document.querySelectorAll('table')
        for (let table of tables){
            addPlayer(null, table)
        }

    }
    // addPlayer()




    // checkbox
    function eventCount(event) {
        console.log(event.target)

        event.target.value ++
    }

    function checkboxOn(element) {
        const inputs = document.querySelectorAll('input[type="number"]');
        if (element.checked) {
            inputs.forEach((element) => {
                element.style.cursor = 'pointer'
                element.addEventListener('click', eventCount)
            })
        } else {
            inputs.forEach((element) => {
                element.style.cursor = 'text'
                element.removeEventListener('click', eventCount, false)
            })
        }
    }

    function halfSelect(element) {
        let halfs = document.querySelectorAll('.half');
        let data = element.getAttribute('data-half');
        for (let f of halfs) {
            let h = f.getAttribute('data-half');

            if (h === data) {
                f.classList.add('selected')
            } else {
                f.classList.remove('selected')
            }
        }


    }
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    const sendButton = document.querySelector('#ajax-send')
    sendButton.addEventListener('click', (event) => {
        event.preventDefault();
        const url = '{% url "statistic:result" %}'
        let formData = new FormData();
        formData.append('id', '1');
        formData.append('name', '2');
        let options = {
            method: 'POST',
            headers: {'X-CSRFToken': csrftoken},
            mode: 'same-origin'
        }
        options['body'] = formData;
        fetch(url, options).then(response => response.json())

    })


</script>



{% endblock %}
