<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">



    </head>

    <body>

        <h1>Статистика успешно посчитана!</h1>

        <h2>Общая информация по игрокам:</h2>

        <table>
            <tr>
                {% for action in actions %}
                <th>
                    action.name
                </th>
                {% endfor %}
            </tr>
            {% for player in players %}
            <tr>
                <th>
                    {{ player }}
                </th>
                {% for act in player.actions %}
                <td>
                    act
                </td>
                {% endfor %}
            </tr>
            {% endfor %}







        </table>

    <table>
        <tr>
            {% for action in actions%}
            <th>
                {{ action }}
            </th>
            {% endfor %}
        </tr>
        {% for player, player_value in players.items %}
            <tr>
                <th>
                    {{ player }}
                </th>
                {% for act in player_value

            </tr>


        {% endfor %}
        <>
    </table>

    <hr>
    {% for player, val in players.items %}
    <p>{{ player }}</p>
    <p>{{ val }}</p>
    {% endfor %}



    </body>

<script>
    console.log('{{players}}')
    console.log('opppp')



</script>

</html>






