{% extends 'base.html' %}




{% block content %}
{% if is_new %}
<h1>Статистика посчитана успешно!</h1>
{% else %}
<h1>Статистика для игры {{ game.name }}</h1>
{% endif %}

<h4>В ячейках указано значение в формате "успешно/ошибок/процент успешных"</h4>
{% for half in result %}
    <span>{{ half }}</span>
{% endfor %}


{% for half, player_data in result.items %}
<!--{{ half }}-->
<table>
    <tr>
        <th></th>
        {% for action in actions %}

            <th>
                {{ action }}
            </th>
        {% endfor %}
    </tr>
    {% for  player, data in player_data.items %}
        <tr>
            <th>
                {{ player }}
            </th>
            {% for act, value in data.items %}
                <td class="value">
                    {{ value.success}}/{{ value.fail }}/{{ value.percent }}%
                </td>


            {% endfor %}


        </tr>

    {% endfor %}


</table>
{% endfor %}
<h4>Список игроков команды:</h4>
<div id="players-itog">
    <ul>
        {% for player in players %}
        <li>
           {{ player }}
        </li>
        {% endfor %}
    </ul>
</div>


{% endblock %}