{% extends "base.html" %}
{% load my_tags %}
{% block content %}

{% if not user.is_authenticated %}
    <h1>Вы не авторизованы!</h1>
    <p>Пожалуйста, войдите на сайт, чтобы увидеть свои задачи и начать работу. <a href="{% url 'login' %}">Войти</a></p>
    <p>Если у вас нет аккаунта: <a href="{% url 'registration' %}">Зарегистрироваться</a></p>
{% else %}

<div id="time">
    <ul class="dates_list">
        <li>
            <a href="{% url 'schedule_category' category_slug %}">Все</a>
        </li>
<!--        {% get_dates as dates %}-->
        {% for d in date_list %}
            <li>
                <a href="{% url 'schedule_time' category_slug d|date:'Y-m-d' %} ">
                    {{ d|date:"Y-m-d" }}
                </a>
            </li>

        {% endfor %}
    </ul>
</div>

<div class="categories">
<h2>Категории:</h2>
<ul class="categories">
    <li>
        {% if not category_slug %}
            Все
        {% else %}
        <a href="{% url 'schedule_category' 'all' %}">Все</a>
        {% endif %}
    </li>
    <li>
        {% if category_slug == 'empty' %}
            Без категории
        {% else %}

            <a href="{% url 'schedule_category' 'empty' %}">Без категории</a>
        {% endif %}
    </li>
    {% for cat in all_categories %}
        <li>
            {% if cat.slug == category_slug %}
                {{ cat.name }}
            {% else %}
                <a href="{{ cat.get_absolute_url }}">{{ cat.name }}</a>
            {% endif %}
        </li>
    {% endfor %}

</ul>
</div>

    <ul class="task_item">
    {% for task in tasks %}
        <li>
            {{ forloop.counter }})
            <a href="{{ task.get_absolute_url }}">{{ task.name }}</a>
            {% if task.deadline %}
                <span>{{ task.deadline }}</span>
            {% endif %}
            <p>{{ task.description|truncatewords:4 }}</p>
        </li>


    {% endfor %}
    </ul>

<a id="create_task" href="{% url 'task_create' category_slug %}">Создать новую задачу в категории:{{ category_slug }}</a>

{% endif %}
{% endblock %}